body,h1,h2,h3,h4,h5,h6 {font-family: "Geneva", sans-serif;}
body, html {
  height: 100%;
  color: rgb(20, 18, 18);
  line-height: 1.8;
  background: url('images/plants.png');
  background-color: rgb(255, 225, 210);
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: auto;  */
  background-size: 80%;
}

.activated {
  background-color: #614d74;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-dismissible {
  padding-right: 3.8125rem;
}

.alert-dismissible .close {
  top: 0;
  right: 0;
  z-index: 2;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.alert-primary {
  color: #1a3047;
  background-color: #d6dfe7;
  border-color: #c6d2de;
}


  
button {
	background-color:#E1A370;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#363535;
	font-family: 'Geneva', sans-serif;
	font-size: 15px;
	font-weight: normal;
	padding: 20px;
	text-decoration:none;
}

button:active {
  background-color:#6B954F;
}

button:disabled {
  opacity: 80%;
	background-color:#E1A370;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#363535;
	font-family: 'Geneva', sans-serif;
	font-size: 15px;
	font-weight: normal;
	padding: 20px;
	text-decoration:none;
}

.button {
	background-color:#E1A370;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#363535;
	font-family: 'Geneva', sans-serif;
	font-size: 15px;
	font-weight: normal;
	padding: 20px;
	text-decoration:none;
}

button:hover {
	background-color:#6B954F;
}


.container {
  align-content: center;
  padding: 1rem;
  padding-top: 50px;
  width: 100%;
  height: 100%;
  display: none;
  background-color:  rgb(247, 241, 238) ;
}

div.results {
    width: 500px;
    margin: auto;
    align-self: right;
    border: 3px solid #73AD21;
 
  }
  
div.right-container{
    align-content: center;
    text-align: left;
    top: 120px;
    max-height: auto;
    width: 100%; 
    left: 0; 
    bottom: 0;
    position:absolute;
  
}  

div.collection-form-container{
    align-content: left;
    text-align: center;
    /* top: 200px; */
    padding: 14%;
    width: fit-content; 
    bottom: 0;
    background-color:rgb(255, 225, 210);
}  

.form-control {
  align-content: center;
  text-align: center;
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 0.875rem;
  line-height: 5;
}


img {
  height: auto;
  width: 260px; 
  /* object-fit: fill; */
}

.input {
	background-color:#fcfbfd;
	/* border-radius:8px; */
	display:inline;
	cursor:pointer;
	color:#e7e5e7;
	font-family:"Geneva", sans-serif;
	font-size:20px;
	padding:13px 32px;
	text-decoration:none;
}

nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  float: right;
}

p {
  line-height: 1em;
}
.wrapper {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 6px;
    grid-row-gap:20px;
    grid-auto-rows: minmax(200px, auto);
}

.box {
  background: rgb(190, 159, 211);
  padding: 0;
}



/* GAME STUFF */


div.game {
  top: 50%;
  margin: 20px 0;
  width: 700px;
  height: 600px;
  perspective: 1000px

}

.front-face,
.back-face {
  width: 90%;
  height: 90%;
  padding: 10px;
  position: absolute;
  border-radius: 5px;
  background: #7b7d7e;
  backface-visibility: hidden;
}
.front-face {
  transform: rotateY(180deg);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-auto-rows: minmax(150px, auto);
  background-color:  rgb(255, 225, 210) ;
  border: rgb(255, 225, 210);
  border-right: 100px;
}

.card {
  width: auto;
  /* height: calc(33.333% - 10px); */
  margin: 10px;
  position: relative;
  transform-style: preserve-3d;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.card.flip {
  transform: rotateY(180deg);
}

