body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: rgb(92, 91, 91);
  line-height: 1.8;
  background: url('images/plants.jpeg');
  background-color: rgb(255, 225, 210);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto auto;
}

.container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    opacity: .8;
  }
 

  
button {
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size: 20px;
	font-weight:bold;
	padding:13px 20px;
	text-decoration:none;
}

.input {
	background-color:#245668;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
}

button:hover {
	background-color:#40997e;
}

button:active {
	position:relative;
	top:1px;
}

div.results {
    width: 500px;
    margin: auto;
    align-self: right;
    border: 3px solid #73AD21;
    background-color:rgba(255, 255, 255, 0.705)
  }
  
        
div.right-container{
    align-content: center;
    text-align: center;
    top: 20px;
    max-height: fit-content;
    width: 400px; 
    right:20px; 
    bottom: 0;
    position:absolute;
    background-color:rgba(255, 255, 255, 0.836)
}  

div.game-container{
    align-content: center;
    text-align: center;
    top: 100px;
    max-height: 400px;
    width: 400px; 
    left:100px; 
    bottom: 0;
    position:absolute;
    background-color:rgba(255, 255, 255, 0.952)
}  


.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    grid-auto-rows: 100px;
  }